@import './base.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Blinker', Open Sans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding: 5px 0;
}

html {
    font-size: 18px;
    min-width: 260px;
}

#app {
    color: #5c5c5c;
    height: 100vh;
    display: grid;
    grid-template-columns: auto minmax(auto, 1400px) auto;
    grid-template-rows: 80px 1fr 50px;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header"
    "left center right"
    "footer footer footer";
}

header {
    justify-self: stretch;
    align-self: stretch;
    grid-area: header;
    text-align: center;
    border-radius: 3px;
    margin: 15px 0;
}

#left {
    grid-area: left;
}

#center {
    align-self: stretch;
    grid-area: center;
    text-align: center;
}

#right {
    grid-area: right;
}

footer {
    grid-area: footer;
    margin: 5px auto;
}

@font-face {
    font-family: 'Blinker';
    font-weight: 400;
    font-style: auto;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Blinker"), url('./fonts/Blinker-Regular.ttf') format("TrueType");
}

@font-face {
    font-family: 'Blinker';
    font-weight: 700;
    font-style: auto;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Blinker"), url('./fonts/Blinker-Bold.ttf') format("TrueType");
}